@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 font-sans bg-gradient-to-br from-indigo-900 via-purple-800 to-pink-700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
